<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
   
  <ul class="navbar-nav">
    <li class="nav-item">
      <a  [routerLink] = "['/home']" class="nav-link" routerLinkActive="active">Home</a>
  </li>
    <li class="nav-item">
      <a [routerLink] = "['/specialization']" class="nav-link" routerLinkActive="active">Book Appointment</a>
  </li>
  <li class="nav-item">
    <a [routerLink] = "['/viewprescription']"class="nav-link" routerLinkActive="active">My Prescription</a>
  </li>
  <li class="nav-item">
    <a  [routerLink] = "['/report']"class="nav-link" routerLinkActive="active">My History</a>
  </li>
    &nbsp;&nbsp;&nbsp;
  <li class="nav-item">
    <button type="submit" style="background-color: aqua;" class="btn btn-info" (click)="logout()">Logout</button>
</li>
  </ul>
</nav>
<h1>Book Appointment</h1>
<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >  
    <table  cellspacing="5" cellpadding="10" border="1" name="a"> 

    <div class="form-group">
      <tr>
       <td><label for="name">Date</label></td> 
       <td><input type="datetime-local" class="form-control" id="Date" required [(ngModel)]="appointment.date" name="Date" formControlName="Date"></td> 
      </tr>      
    </div>

    <div class="form-group">
      <tr>
      <td><label for="name">HealthIssue</label></td> 
      <td><textarea class="form-control" id="HealthIssue" required [(ngModel)]="appointment.healthIssue" name="HealthIssue" value="HealthIssue" rows="5"  cols="50" formControlName="HealthIssue" ></textarea></td> 
    </tr>
    </div>
    <tr>
      <td id="tdsubmit" colspan="3" style="text-align: center;"><button type="submit" class="btn btn-success">Submit</button></td>
    </tr>

  </table>
<br>
<br>

   
  </form>
</div> 