@model DocApp3.Models.Appointment

<h4>Add Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRating">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentID" />
            <input type="hidden" asp-for="PatientID" />
            <input type="hidden" asp-for="DoctorID" />
            <input type="hidden" asp-for="AppointmentDate" />
            <input type="hidden" asp-for="HealthIssue" />
            <input type="hidden" asp-for="PrescriptionGiven" />

            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewComment" class="control-label"></label>
                <textarea asp-for="ReviewComment" class="form-control" ></textarea>
                <span asp-validation-for="ReviewComment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>